<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MNIST Digit Recognition</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            background-color: #84bd84;
            color: #212529;
        }
        .image-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .dropzone-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
        }

        #dropZone {
            width: 300px;
            height: 200px;
            border: 2px dashed #ccc;
            text-align: center;
            padding: 20px;
            margin: 20px 0;
            cursor: pointer;
        }
        #dropZone.dragover {
            background: #e1e1e1;
            border-color: #999;
        }

        img{
            cursor: grab;
        }

        #arrayContainer {
            margin-top:20px;
            white-space: pre;
            display: none;
        }
    </style>
</head>
<body>
    <div class="container mt-5 text-center">
        <h1 class="display-1">MNIST Digital Model</h1>
        <p class="">
            This is a simple web application that uses a trained model to predict the digit in an image. The users can drag-and-drop or upload images of handwritten digits, which are then processed by a neural network model trained on the MNIST dataset. The model predicts the digit (one at a time) in the image and returns the predicted result to the user. The neural network model was trained on the MNIST dataset, which consists of 60,000 training images and 10,000 test images grey scale handwritten digits, to recognize and classify these digits accurately. Real world examples of similar models include Mail Sorting Systems, license plate readers, and digitization of historical documents.
        </p>
    </div>

    <div class="container mt-5">
        <h4>Available Image Samples:</h4>
        <div class="image-container">
            {% for image in images %}
            <div>
                <img src="/images/{{ image }}"
                     alt="{{ image }}"
                     style="width: 100px; height: 100px; margin: 10px;"
                     onclick="handleImageClick(this.src)"
                     draggable="true">
            </div>
            {% endfor %}
        </div>

        <div class="dropzone-container">
            <div id="dropZone">
                Drop image here or click to upload
                <input type="file" id="fileInput" style="display: none" accept="image/*">
            </div>
        </div>
        <div id="result" class="mt-4"></div>
        <button id="expandButton" class="btn btn-primary mt-3" onclick="toggleArray()">Show What the Model sees</button>
        <div id="arrayContainer" class="mt-3">
            <pre id="arrayText"></pre>
            <pre id="arrayContent"></pre>
        </div>
    </div>

    <footer class="container mt-5 text-center">
        <p>Want to learn more about the MNIST dataset? <a href="https://www.geeksforgeeks.org/mnist-dataset/" target="_blank">Click Here</a> </p>

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        const dropZone = document.getElementById('dropZone');
        const fileInput = document.getElementById('fileInput');
        const arrayContainer = document.getElementById('arrayContainer');
        const arrayContent = document.getElementById('arrayContent');
        const expandButton = document.getElementById('expandButton');
        const arrayText = document.getElementById('arrayText');

        dropZone.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropZone.classList.add('dragover');
        });

        dropZone.addEventListener('dragleave', () => {
            dropZone.classList.remove('dragover');
        });

        dropZone.addEventListener('drop', (e) => {
            e.preventDefault();
            dropZone.classList.remove('dragover');
            const file = e.dataTransfer.files[0];
            if (file) processFile(file);
        });

        dropZone.addEventListener('click', () => {
            fileInput.click();
        });

        fileInput.addEventListener('change', (e) => {
            if (e.target.files[0]) processFile(e.target.files[0]);
        });

        function processFile(file) {
            const formData = new FormData();
            formData.append('file', file);

            $.ajax({
                url: '/predict',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#result').html('<h3>Prediction: ' + data.prediction + '</h3>');
                    arrayContent.textContent = formatArray(data.array);
                },
                error: function() {
                    $('#result').html('<h3 class="text-danger">Error occurred</h3>');
                }
            });
        }

        function formatArray(array){
            return JSON.stringify(array)
        }

        function toggleArray(){
            if (arrayContainer.style.display === 'none') {
                arrayContainer.style.display = 'block';
                expandButton.innerText = 'Hide What the Model sees';
                arrayText.textContent = 'The array represent the pixel values after the image is converted to a 28x28 grayscale image and normalized to a range of 0 to 1.';
            } else {
                arrayContainer.style.display = 'none';
                expandButton.innerText = 'Show What the Model sees';
            }
        }

        function handleImageClick(imageSrc) {
            fetch(imageSrc)
                .then(response => response.blob())
                .then(blob => {
                    const formData = new FormData();
                    formData.append('file', blob, 'image.jpg');

                    $.ajax({
                        url: '/predict',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(data) {
                            $('#result').html('<h3>Prediction: ' + data.prediction + '</h3>');
                            arrayContent.textContent = JSON.stringify(data.array);
                        },
                        error: function() {
                            $('#result').html('<h3 class="text-danger">Error occurred</h3>');
                        }
                    });
                });
        }
    </script>
</body>
</html>